html, .p-author .profile .p-name, .custom-timeline-owner-profile .p-name, .cards-base p, .cards-base p a, .timeline-header .custom-timeline-summary, .timeline-header .custom-timeline-summary a:link, .timeline-header .custom-timeline-summary a:visited, .timeline-header .summary, .timeline-header .summary a:link, .timeline-header .summary a:visited, .p-author a.profile:hover .p-name, .p-author a.profile:focus .p-name {
	color: #F3F4F3;
}
.timeline-header .custom-timeline-summary a:link, .timeline-header .custom-timeline-summary a:visited, .timeline-header .summary, .timeline-header .summary a:link, .timeline-header .summary a:visited {
	left: 14px;
	font-family: 'print_clearlyregular', sans-serif;
	letter-spacing: 1px;
	line-height: 45px;
	text-shadow: 2px 2px 0px rgba(0,0,0,.9);
}
.timeline-header a.follow-button {
	margin-top: 5px;
}
.var-chromeless .timeline-header {
	padding: 0;
	height: 40px;
}
.var-narrow .timeline-header .summary {
	line-height: 34px;
}
.var-narrow .timeline-header .summary a {
	font-size: 14px !important;
}
p.e-entry-title {
		line-height: 1.6 !important;
}
@media (min-height:200px) and (min-width:100px) {
	.var-chromeless .timeline-header {
		height: 30px;
	}
	.timeline-header .custom-timeline-summary a:link, .timeline-header .custom-timeline-summary a:visited, .timeline-header .summary, .timeline-header .summary a:link, .timeline-header .summary a:visited {
		font-size: 16px;
		line-height: 34px;
	}
	.h-feed * {
		font-size: 12px !important;
	}
}
@media (min-height:400px) and (min-width:320px) {
	.timeline-header .custom-timeline-summary a:link, .timeline-header .custom-timeline-summary a:visited, .timeline-header .summary, .timeline-header .summary a:link, .timeline-header .summary a:visited {
		line-height: 45px;
	}
	.var-chromeless .timeline-header {
		height: 40px;
	}
	.h-feed * {
		font-size: 14px !important;
	}
}
@media (min-height:600px) and (min-width:360px) {
	.timeline-header .custom-timeline-summary a:link, .timeline-header .custom-timeline-summary a:visited, .timeline-header .summary, .timeline-header .summary a:link, .timeline-header .summary a:visited {
		font-size: 20px;
	}
	.h-feed * {
		font-size: 16px !important;
	}

}
